<html>
	<HEAD>
		<TITLE>THE WEDDING OF S.YANG & WW.TANG - 杨圣唐文雯的婚礼</TITLE>
		<META content="text/html; charset=gb2312" http-equiv=Content-Type>
	</HEAD>
<BODY style="ZOOM: 100%">
	<DIV align=center>
	  <DIV align=center>
<TABLE id=table2 border=0 cellSpacing=0 cellPadding=0 width=750>
<TBODY>
<TR>
<TD width=375 rowspan="4"><img src={{ url_for('static', filename='img/wedding.jpg') }} width="300" height="350"></TD>
<TD width=375 height="103">&nbsp;</TD>
</TR>
<TR>
  <TD height="104"><img src={{ url_for('static', filename='img/wedlogo_en.gif') }} width="600" height="100"></TD>
</TR>
<TR>
  <TD><img src={{ url_for('static', filename='img/wedlogo_ch.gif') }} width="600" height="100"></TD>
</TR>
<TR>
  <TD>&nbsp;</TD>
</TR>
<TR>
<TD colSpan=3><HR style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px" color=#000000 SIZE=1 noShade>

  <P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px">
    <a href="/wedding/chinese"><img border=0 alt=中文版 align=right src={{ url_for('static', filename='img/v-ch.jpg') }} width=105 height=50></a>
    <a href="/wedding/english"><img border=0 alt=英文版 src={{ url_for('static', filename='img/v-en.jpg') }} width=96 height=50></a>
</P></TD></TR></TBODY></TABLE>
</DIV></DIV>
</BODY></html>
